{% extends "base.html" %}

{% block content %}
	<div class="col-md-12">
		<h2>Lista de Produtos
			<span class="pull-right">
				<a class="btn btn-primary" href="{% url 'produto:produto_add' %}">Adicionar</a>
			</span>
		</h2>

        {% if object_list %}

		<table class="table-striped col-md-12">
			<tr>
				<th>Importado</th>
				<th>NCM</th>
				<th>Produto</th>
				<th class="text-center">Preço</th>
				<th class="text-center">Estoque</th>
				<th class="text-center">Estoque Mínimo</th>
			</tr>
			<tbody>
				{% for object in object_list %}
					<tr>
						<td>
							{% if object.importado %}
								<span class="glyphicon glyphicon-ok-sign" style="color: green;"></span>
							{% else %}
								<span class="glyphicon glyphicon-remove-sign" style="color: red;"></span>
							{% endif %}
						</td>
						<td>{{object.ncm}}</td>
						<td><a href="{% url 'produto:produto_detail' object.pk %}">{{object.produto}}</a></td>
						<td>R$ <span class="pull-right">{{object.preco}}</span></td>
						<td class="text-center">{{object.estoque}}</td>
						<td class="text-center">{{object.estoque_minimo}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		{% else %}
			<p class="alert alert-warning">Sem ítens na lista!</p>
		{% endif %}
	</div>
{% endblock content %}