{% extends "base.html" %}


{% block content %}
	<a href="{% url 'produto:produto_list' %}">Voltar</a>
	<h1>{{object}}
		<span class="pull-right">
			<a href="{% url 'produto:produto_edit' object.pk %}">
				<button type="button" class="btn btn-success">Editar</button>
			</a>
		</span>
	</h1>
	<div class="col-sm-6">
		<table class="table table-user-information">
			<tbody>
				<tr>
					<th class="text-right">Importado</th>
					<td>
						{% if object.importado %}
							<span class="glyphicon glyphicon-ok-sign" style="color: green;"></span>
						{% else %}
							<span class="glyphicon glyphicon-remove-sign" style="color: red;"></span>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th class="text-right">NCM</th>
					<td>{{object.ncm}}</td>
				</tr>
				<tr>
					<th class="text-right">Preço</th>
					<td>R$ {{object.preco}}</td>
				</tr>
				<tr>
					<th class="text-right">Estoque</th>
					<td>{{object.estoque}}</td>
				</tr>
				<tr>
					<th class="text-right">Estoque Mínimo</th>
					<td>{{object.estoque_minimo}}</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock content %}