{% extends "base.html" %}

{% block content %}
	
	<a href="{% url 'estoque:estoque_entrada_list' %}">Voltar</a>

	<h1>{{ object }}</h1>

	<div class="col-sm-6">
		<table class="table table-user-information">
			<tbody>
				<tr>
					<th class="text-right">NF</th>
					<td>{{ object.nf_formated }}</td>
				</tr>
				<tr>
					<th class="text-right">Data</th>
					<td>{{ object.created }}</td>
				</tr>
				<tr>
					<th class="text-right">Funcionários</th>
					<td>{{ object.funcionario.first_name }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<td>Produto</td>
				<td>Quantidade</td>
				<td>Saldo</td>
			</tr>
		</thead>
		<tbody>
			{% for obj in object.estoques.all %}
				
				<tr>
					<td>{{ obj.produto }}</td>
					<td>{{ obj.quantidade }}</td>
					<td>{{ obj.saldo }}</td>
				</tr>

			{% endfor %}
		</tbody>
	</table>

{% endblock content %}