{% extends "base.html" %}

{% block content %}
	<div class="col-md-12">
		<h2>Estoque Entrada
			<span class="pull-right">
				<a class="btn btn-primary" href="{% url 'estoque:estoque_entrada_add' %}">Adicionar</a>
			</span>
		</h2>

        {% if object_list %}

		<table class="table-striped col-md-12">
			<tr>
				<th>Ítem</th>
				<th>NF</th>
				<th>Data</th>
				<th>Funcionário</th>
			</tr>
			<tbody>
				{% for object in object_list %}
					<tr>
						<td><a href="{% url 'estoque:estoque_entrada_detail' object.pk %}">{{object}}</a></td>
						<td>{{ object.nf_formated }}</td>
						<td>{{ object.created }}</td>
						<td>{{ object.funcionario.first_name }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		{% else %}
			<p class="alert alert-warning">Sem ítens na lista!</p>
		{% endif %}
	</div>
{% endblock content %}