{% extends "base.html" %}

{% load widget_tweaks %}
{% load bootstrap %}

{% block css %}
	<style>
		span.required:after{
			content: "*";
			color: red;
		}
	</style>
{% endblock css %}

{% block content %}
	<a href="{% url 'estoque:estoque_entrada_list' %}">Voltar</a>
	
	<div class="row">
		<div class="cols">
			<form method="POST" novalidate>
				{% csrf_token %}
				<legend style="border-bottom: 1px solid #e5e5e5">Estoque Entrada</legend>

				<div class="row">
					<div class="col-sm-6">
						{% for field in form.visible_fields %}
							<div class="form-group{% if field.errors %} has-error {% endif %}">
								<label for="{{ field.id_for_label }}">
									{% if field.field.required %}
										<span class="required">{{ field.label }} </span>
									{% else %}
										{{ field.label }}
									{% endif %}
								</label>
								{% render_field field class="form-control" %}
								{% for error in field.errors %}
									<span class="text-muted">{{ error }}</span>
								{% endfor %}
							</div>
						{% endfor %}
						{{ formset.management_form }}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<legend style="border-bottom: 1px solid #e5e5e5">Produtos</legend>
						<div id="estoque" class="form-inline">
							{% for item_estoque_form in formset %}
								<div id="item-{{ forloop.counter0 }}" class="form-group">
									{{ item_estoque_form|bootstrap }}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<button id="add-item" class="btn btn-info" style="margin-top: 10px;">Adicionar</button>
				<div class="row float-right">
					<div class="col-sm-12" style="margin-top: 10px;">
						<div class="form-inline buttons">
							<button class="btn btn-primary" value="save">Salvar</button>
							<a class="btn btn-danger" href="{% url 'estoque:estoque_entrada_list' %}">Cancelar</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}


{% block js %}
	<script>
		$(document).ready(function(){
			$('#add-item').click(function(ev){
				ev.preventDefault();
				var count  = $('#estoque').children().length;
				var tmplMarkup = $('#item-estoque').html();
				var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
				$('div#estoque').append(compiledTmpl);

				// Update form count
				$('#id_estoque-TOTAL_FORMS').attr('value', count + 1);

				// Animate the scroll to view our form
				$('html, body').animate({
					scrollTop: $("#add-item").position().top - 200
				}, 800);
			});
		});
	</script>

	<script type="text/html" id="item-estoque">
		<div id="item-__prefix__" class="form-group" style="margin-top: 10px;">
			{{ formset.empty_form|bootstrap }}
		</div>
	</script>
{% endblock js %}