{% extends "base.html" %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1 class="text-center">Bem-vindo!</h1>
			<p>Este é um sistema para controle de estoque.</p>
		</div>
	</div>
{% endblock content %}